<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
</head>
<body>
<div th:fragment="footer">

    <div class="container">
        <footer class="text-center">
            <p class="mx-auto text-muted ">&copy; 2017-2018</p>
            <!--https://stackoverflow.com/a/40712438/7667017-->
            <script type="text/javascript" src="webjars/jquery/3.1.0/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                    crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                    crossorigin="anonymous"></script>
            <script src="/static/js/ws.js"></script>
            <script src="/static/js/dialog.js"></script>
            <script src="/webjars/stomp-websocket/stomp.min.js"></script>
            <script src="/webjars/sockjs-client/sockjs.min.js"></script>
        </footer>
    </div>

</div>
</body>
</html>