<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <title>Enchatter</title>
    <link href="/static/chatter.css" rel="stylesheet">

    <div th:replace="fragments/header :: header-css"></div>
</head>
<body class="text-center">
<div th:replace="fragments/header :: header"></div>

<div class="container-fluid h-90 w-75">

    <div class="row h-100">
        <div class="col-sm-3 h-100">
            <nav class="navbar navbar-light align-items-stretch bg-light flex-column m-0 p-0 mh-100 rounded">
                <button class="btn btn-dark mb-3">Dialogs</button>
                <nav class="jumbotron mh-90 m-0 p-0">
                    <nav class="nav nav-pills flex-column mh-100"
                         th:each="dialog, rowStat: ${dialogs}"
                         th:switch="${dialog.interlocutorOne.equals(#authentication.getPrincipal())}">
                        <a th:case="true" class="nav-link mx-2 my-1"
                           th:classappend="${dialogId == dialog.getId()}?'active':'border'"
                           th:utext="${dialog.interlocutorTwo.username}"
                           th:href="@{/chatter(p=${dialog.interlocutorTwo.username})}"></a>
                        <a th:case="false" class="nav-link mx-2 my-1"
                           th:classappend="${dialogId == dialog.getId()}?'active':'border'"
                           th:utext="${dialog.interlocutorOne.username}"
                           th:href="@{/chatter(p=${dialog.interlocutorOne.username})}"></a>
                    </nav>
                </nav>
            </nav>
        </div>
        <div class="col-sm-8 h-100">
            <div class="jumbotron h-90" id="messagesBlock">
                <div id="messages">
                    <div th:each="message, rowStat: ${messages}">
                        <div class="card-group d-flex flex-column"
                             th:classappend="${message.author.equals(#authentication.getPrincipal())}?'align-items-end':'align-items-start'">
                            <div class="card my-1 d-inline-flex mw-100 border shadow">
                                <div class="card-header d-inline-flex align-items-baseline p-0">
                                    <a class="text-primary font-size-20 ml-2"
                                       th:text="${message.author.username}"></a>
                                    <a class="text-secondary mx-2 font-size-12"
                                       th:text="${#temporals.format(message.creationTime,'dd MMM HH:mm:ss')}"></a>
                                </div>
                                <div class="card-body d-inline-flex mw-100 mx-2 my-1 p-0">
                                    <a th:text="${message.text}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="h-10">
                <form id="formInputMessageText">
                    <div class="input-group">
                        <input type="text" autocomplete="off"
                               id="inputMessageText" class="form-control" autofocus/>
                        <div class="input-group-append">
                            <button onclick="sendMessage(dialogId)" class="btn btn-primary">Send <i class="fa fa-paper-plane"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
<script th:inline="javascript">
    let dialogId = [[${dialogId}]];
    let interlocutor = [[${interlocutor}]];
    if (dialogId !== null) {
        connect()
    }
</script>
</body>
</html>