<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <title>Enchatter</title>
    <link href="/static/chatter.css" rel="stylesheet">

    <div th:replace="fragments/header :: header-css"></div>
</head>
<body class="text-center">
<div th:replace="fragments/header :: header"></div>

<div class="container-fluid h-90 w-75">

    <div class="row h-100">
        <div class="col-sm-3 h-100">
            <!--<h2 th:text="${dialogs.size()}">11</h2>-->
            <nav class="navbar navbar-light align-items-stretch bg-light flex-column m-0 p-0">
                <a class="navbar-brand bd-highlight">Dialogs</a>
                <nav class="jumbotron nav nav-pills flex-column mh-100 m-0 p-0">
                    <nav class="nav nav-pills flex-column" th:each="dialog, rowStat: ${dialogs}">
                        <div th:switch="${dialog.getInterlocutorOne().equals(#authentication.getPrincipal())}">
                            <a th:case="true" class="nav-link breadcrumb-item active mx-2 my-1"
                               th:utext="${dialog.getInterlocutorTwo().getUsername()}"
                               th:href="@{/chatter(p=${dialog.getInterlocutorTwo().getUsername()})}"></a>
                            <a th:case="false" class="nav-link breadcrumb-item active mx-2 my-1"
                               th:utext="${dialog.getInterlocutorOne().getUsername()}"
                               th:href="@{/chatter(p=${dialog.getInterlocutorOne().getUsername()})}"></a>
                        </div>
                    </nav>
                </nav>
            </nav>
        </div>
        <div class="col-sm-8 h-100" id="messagesBlock">
            <div class="jumbotron h-90" id="conversation">
                <div id="temporaryIdForMessages">
                    <div th:each="message, rowStat: ${messages}">
                        <div class="card-group d-flex flex-column"
                             th:classappend="${message.getAuthor().equals(#authentication.getPrincipal())}?'align-items-end':'align-items-start'">
                            <div class="card my-1 d-inline-flex mw-100 border-secondary shadow">
                                <div class="card-header d-inline-flex align-items-baseline p-1">
                                    <a class="text-primary font-size-20"
                                       th:text="${message.getAuthor().getUsername()}"></a>
                                    <a class="text-secondary ml-3 font-size-12"
                                       th:text="${#temporals.format(message.creationTime,'dd MMM HH:mm:ss')}"></a>
                                </div>
                                <div class="card-body d-inline-flex mw-100 mx-2 my-1 p-0">
                                    <a th:text="${message.getText()}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<table id="conversation" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Greetings to all</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="message, rowStat: ${messages}">
                        <td th:text="${message.id}"> </td>
                        <td th:text="${message.author.username}"> </td>
                        <td th:text="${message.text}"> </td>
                        <td th:text="${message.creationTime}"> </td>
                    </tr>
                    </tbody>
                </table>-->
            </div>
            <div class="h-10">
                <form id="formInputMessageText">
                    <div class="input-group">
                        <input type="text" autocomplete="off"
                               id="inputMessageText" class="form-control" autofocus/>
                        <div class="input-group-append">
                            <button onclick="sendMessage(dialogId)" class="btn btn-primary">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
<script th:inline="javascript">
    let dialogId = [[${dialogId}]];
    let auth = [[${interlocutor}]];
    if (dialogId !== null) {
        connect()
    }
</script>
</body>
</html>