<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="jumbotron">
    <div class="container text-center mt-5">
        <h1>
            <span class="badge badge-secondary">All users <i class="fas fa-list"></i></span>
            <button type="button" class="btn btn-primary ml-3" data-toggle="modal" data-target="#registerModal">
                Register as new user
                <i class="fas fa-user-plus ml-2"></i>
            </button>
        </h1>
        <div class="row col-md-7 table-responsive mx-auto">
            <table id="userTable" class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Roles</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user, rowStat: ${users}"
                    th:style="${rowStat.odd} ? 'color: gray' : 'color: black;'">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.roles}"></td>
                    <td>
                        <div sec:authorize="isAuthenticated()"
                             th:switch="${interlocutorsWithDialogId.containsKey(user.username)}">
                            <button type="button" class="btn btn-primary fa fa-comment" data-toggle="modal"
                                    data-target="#exampleModal" th:data-whatever="${user.id}" th:case="false"></button>
                            <a class="fa fa-comment"
                               th:case="true"
                               th:href="@{/chatter(p=${user.username})}"></a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<footer>
    <div class="modal fade bg-dark" tabindex="-1" role="dialog" id="registerModal"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Register new user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" th:action="@{/}" th:object="${user}" method="post">
                        <div class="form-group">
                            <label class="col-form-label">Username</label>
                            <input class="form-control" type="text" th:field="*{username}"/>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Password</label>
                            <input class="form-control" type="text" th:field="*{password}"/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Add user">
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialogl"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="greetingsForm" th:action="@{/new_dialog/{id}(id=${userId})}" th:object="${greeting}" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New dialog</h5>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div role="group" class="form-group">
                            <label class="col-form-label">Your greetings</label>
                            <div class="d-flex align-items-start">
                                <input type="text" class="form-control" id="greeting" contenteditable="true" th:field="*{text}">
                                <button type="button" class="close mx-1" id="clearButton"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Start dialog</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div th:replace="fragments/footer :: footer"></div>

    <script th:inline="javascript">
        let user = [[${user}]];
    </script>
</footer>
</body>
</html>