<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        html, body{
            height: 100%;
        }
        .message{
            width: fit-content;
            text-align: left;
            background: #FFFFFF;
            box-shadow: rgba(0,0,0,1.2) 0px 1px 3px;
            margin:5px;
            border-radius: 5px;
        }
        .message_text{
            margin:3px 3px 3px 3px;
        }
        .text_block{
            text-align: center;
            width: fit-content;
            margin:6px 8px 2px 8px;
        }
    </style>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/chat_view :: chat_view"></div>
<div style="position: fixed; bottom: 0; left: 0; width: 100%;">
    <div style="padding: 10px; width: 50%; min-width: 400px; margin-left: auto; background: #AFEEEE; margin-right: auto; ">
        <div th:replace="fragments/footer :: footer"></div>
    </div>
</div>
</body>
</html>